= form_tag tickets_search_path, method: 'get' do
  .row
    .large-6.medium-6.small-12.columns.search_job
      .small-6.columns
        = text_field_tag :query, params[:query],  placeholder: 'Fill in Ticket ID, Subject or Other Parameters'
      .small-6.columns
        = submit_tag "Search", name: nil, class: "btn button label"
    .large-6.medium-6.small-12.columns.search_job
      

