.row
  .small-12.large-6.medium-6.columns
    %h4 Customers 
    %br= link_to 'New Ticket', customer_new_path, class: "button btn"

  .small-12.large-6.medium-6.columns
    %h4 Staff Member
    %br= link_to 'Manage Tickets', tickets_manage_path, class: "button btn"

